<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{map|safe}}
    
    <!-- <table>
        <tr>
            <td rowspan="4"><img src="static/images/peak2233.jpg" alt=""></td>
        </tr>
        <tr>
            <td>산명 </td><td>지리산</td>
        </tr>
        <tr>
            <td>날씨 </td><td>비</td>
        </tr>
        <tr>
            <td>설명 </td><td>ㅇㅇ</td>
        </tr>
    </table> -->
    <div style="top:-360px; left:0px;">
        <iframe src="https://m.kma.go.kr/m/mnt/mnt.jsp" width="800" height="500"></iframe>
    </div>
    
</body>
</html>