{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row"> &nbsp;</div>

<div class="row">

  <div class="col-lg-2">


    <div class="list-group">
      <a href="#" class="list-group-item">Province 1</a>
      <a href="#" class="list-group-item">Province 2</a>
      <a href="#" class="list-group-item">Province 3</a>
      <a href="#" class="list-group-item">Province 4</a>
      <a href="#" class="list-group-item">Province 5</a>
      <a href="#" class="list-group-item">Province 6</a>

    </div>

  </div>
  <!-- /.col-lg-3 -->

  <div class="col-lg-8">
    {% comment %} <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.2531389455903!2d-89.23024619999998!3d48.4516724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d5923dbfe697737%3A0xc9d925c9bc9573fa!2s116+Bruce+St%2C+Thunder+Bay%2C+ON+P7A+5W6!5e0!3m2!1sen!2sca!4v1424272264157"
      width="100%" height="300" frameborder="0" style="border:0"></iframe> {% endcomment %}

    <iframe
      width="100%" height="300" frameborder="0" style="border:0"> {{map|safe}}</iframe>

    <div class="row"> &nbsp;</div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
          aria-selected="true">TAB1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
          aria-selected="false">TAB2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
          aria-selected="false">TAB3</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
        probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
        cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
        keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
        placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
        qui.</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
        locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
        blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
        Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
        PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
        salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
        sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
        stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
        wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
        lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
        locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
        squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
        etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
        stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
    </div>



  </div>

  <div class="col-lg-2">

    <div class="list-group">
      <a href="#" class="list-group-item">Feature 1</a>
      <a href="#" class="list-group-item">Feature 2</a>
      <a href="#" class="list-group-item">Feature 3</a>
      <a href="#" class="list-group-item">Feature 4</a>
      <a href="#" class="list-group-item">Feature 5</a>
      <a href="#" class="list-group-item">Feature 6</a>

    </div>
    <div class="row">
      <div class="col-lg-12">SIDE BAR</div>
    </div>
  </div>

</div>
<!-- /.row -->

{% endblock %}